{% comment %}snippets/ff-icon-whatsapp.liquid{% endcomment %}
<span class="ff-wa-bubble">
  <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M16 3C8.82 3 3 8.82 3 16C3 18.41 3.67 20.67 4.82 22.6L3 29L9.58 27.22C11.44 28.27 13.65 28.87 16 28.87C23.18 28.87 29 23.05 29 15.87C29 12.35 27.62 9.12 25.3 6.8C22.98 4.48 19.75 3 16 3Z" fill="white" fill-opacity="0.15"/>
    <path d="M16 4.5C9.65 4.5 4.5 9.65 4.5 16C4.5 17.94 5 19.76 5.88 21.34L4.5 27.5L10.82 26.15C12.34 26.97 14.12 27.43 16 27.43C22.35 27.43 27.5 22.28 27.5 15.93C27.5 12.85 26.31 10.05 24.36 8.01C22.41 5.97 19.65 4.5 16 4.5Z" fill="white"/>
    <path d="M21.8 19.84C21.56 20.48 20.44 21.08 19.88 21.16C19.3 21.24 18.62 21.28 17.88 21.05C17.44 20.91 16.87 20.73 16.14 20.42C13.56 19.31 11.88 16.77 11.76 16.6C11.63 16.43 10.72 15.19 10.72 13.91C10.72 12.63 11.4 12 11.64 11.74C11.88 11.48 12.16 11.42 12.34 11.42C12.52 11.42 12.7 11.42 12.86 11.43C13.03 11.44 13.28 11.37 13.52 11.95C13.77 12.54 14.36 13.82 14.44 13.97C14.52 14.12 14.57 14.29 14.47 14.47C14.37 14.65 14.32 14.77 14.18 14.93C14.03 15.09 13.87 15.29 13.73 15.43C13.59 15.57 13.44 15.73 13.6 16C13.76 16.27 14.36 17.25 15.26 18.06C16.41 19.1 17.38 19.42 17.65 19.57C17.92 19.72 18.08 19.7 18.24 19.52C18.41 19.34 18.98 18.69 19.17 18.43C19.36 18.17 19.55 18.21 19.81 18.3C20.07 18.4 21.35 19.02 21.61 19.16C21.87 19.3 22.04 19.38 22.1 19.5C22.17 19.62 22.04 20.2 21.8 20.84L21.8 19.84Z" fill="#25D366"/>
  </svg>
</span>
<span class="ff-label">WhatsApp</span>
